<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
        integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
        crossorigin="anonymous"></script>
    <title>Passagem</title>
</head>

<body>
    <section class="container mt-2">
        <h1>Passagem</h1>
        <p>Sua origem é: {{ form.origem.value }}</p>
        <p>Seu destino é: {{ form.destino.value }}</p>
        <p>Sua data de ida é: {{ form.data_ida.value }}</p>
        <p>Sua data de volta é: {{ form.data_volta.value }}</p>
    </section>
</body>

</html>